/* GENERAL RULES */
.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

strong {
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

/* ABOUT SECTION */
.about .h1 {
  font-weight: 400;
  padding: 20px 0;
  text-transform: capitalize;
  line-height: 1.4em;
}

.about {
  padding: 100px 0;
}


@media (max-width: 992px) {
  .about img {
    margin-bottom: 50px;
  }
}

/* PROJECTS SECTION */
.projects {
  padding: 75px 0;
}

.projects header {
  margin-bottom: 100px;
  color: #eee;
}

.projects .project-body h4{
  margin-bottom: 15px;
}

.projects .project {
  margin-bottom: 75px;
}

.projects .project-body p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.projects .project-links {
  border-top: 1px solid #ccc;
}

.projects .project-links a{
  margin-top: 15px;
}

/* HERO SECTION */
.hero {
  background-image: url("imgs/placeholder7.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.hero .container {
  padding: 200px 20px;
  position: relative;
}

.hero h1 {
  line-height: 1.4em;
  text-transform: capitalize;
  font-weight: 700;
}

.hero-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: inherit !important;
  text-decoration: none !important;
}

.hero .continue {
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-decoration: none !important;
  color: inherit !important;
  text-transform: uppercase;
  font-size: 0.75em;
  opacity: 0.8;
}

.hero .continue i {
  margin-right: 5px;
}

/* NAV SECTION */
.header .nav-link {
  padding: 5px;
  margin: 5px;
}

.header .navbar-toggler {
  border: none;
}

/* CONTACT SECTION */
.contact {
  padding: 100px 0;
}

.contact .email-info {
  margin-top: 25px;
}

.contact h2 {
  margin-bottom: 15px;
}

.contact button {
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  background: #111;
  border: 1px solid #111;
  color: #fff;
  margin-bottom: 15px;
}

@media (max-width: 575px) {
  .contact .email-info {
    justify-content: space-around;
  }

  .contact button {
      position: static;
      width: 100%;
      margin-top: 10px;
  }
}

.contact .email {
  visibility: hidden;
  opacity: 0;
  color: inherit;
  padding: 15px 50px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

/* FOOTER */
.main-footer {
  padding: 50px 50px 0;
  color: #ddd;
}

.main-footer .social-menu {
  margin-top: 15px;
  padding-left: 0;
}

.main-footer .social-menu a{
  color: inherit;
  font-size: 1.5em;
  padding: 5px;
}

.copyrights {
  margin-top: 15px;
}

/* QUOTE */
.quote {
  padding: 75px 0;
}

.quote h4 {
  color: #999;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quote p {
  color: #eee;
  font-size: 1.75em;
}

/* MAIN POINTS */
.main-points {
  padding: 70px 0 50px;
}

.main-points h4{
  color: #fff;
  margin-bottom: 10px;
}

.main-points p {
  color: #999;
  font-size: 1.1em;
  line-height: 1.5em;
}

.main-points div[class*="col-"] {
  margin-bottom: 20px;
}

.main-points i {
  margin-left: 10px;
}
