/* GENERAL RULES */
.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

strong {
  font-weight: 700;
}

/* ABOUT SECTION */
.about .h1 {
  font-weight: 400;
  padding: 20px 0;
  text-transform: capitalize;
  line-height: 1.4em;
}

.about {
  padding: 75px 0;
}

.about img {
  margin-bottom: 50px;
}

/* PROJECTS SECTION */
.projects {
  padding: 75px 0;
}

.projects header {
  margin-bottom: 100px;
  color: #eee;
}

.projects .project-body h4{
  margin-bottom: 15px;
}

.projects .project {
  margin-bottom: 75px;
}

.projects .project-body p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.projects .project-links {
  border-top: 1px solid #ccc;
}

.projects .project-links a{
  margin-top: 15px;
}
