/* GENERAL RULES */
.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

strong {
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

/* NAV SECTION */
.header .nav-link {
  padding: 5px;
  margin: 5px;
}

.header .navbar-toggler {
  border: none;
}

/* HERO SECTION */
.hero {
  background-image: url("imgs/placeholder7.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.hero .container {
  padding: 200px 20px;
  position: relative;
}

.hero h1 {
  line-height: 1.4em;
  text-transform: capitalize;
  font-weight: 700;
}

.hero-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: inherit !important;
  text-decoration: none !important;
}

.hero .continue {
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-decoration: none !important;
  color: inherit !important;
  text-transform: uppercase;
  font-size: 0.75em;
  opacity: 0.8;
  animation: scroll 2s ease infinite;
}

.hero .continue i {
  margin-right: 5px;
}

@keyframes scroll {
  0% {
    bottom: 30px;
  }

  50% {
    bottom: 25px;
  }

  100% {
    bottom: 30px;
  }
}

/* MAIN POINTS */
.main-points {
  padding: 70px 0 50px;
}

.main-points h4{
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.main-points p {
  color: #999;
  font-size: 1.1em;
  line-height: 1.5em;
}

.main-points div[class*="col-"] {
  margin-bottom: 20px;
}

.main-points i {
  margin-left: 10px;
}

.main-points .point-plan:hover h4 {
  color: #faee1c;
  font-size: 2.5em;
}

.main-points .point-develop:hover h4 {
  color: #2d6cdf;
  font-size: 2.5em;
}

.main-points .point-deliver:hover h4 {
  color: #83e85a;
  font-size: 2.5em;
}


/* ABOUT SECTION */
.about .h1 {
  font-weight: 400;
  padding: 20px 0;
  text-transform: capitalize;
  line-height: 1.4em;
}

.about {
  padding: 100px 0;
}


@media (max-width: 992px) {
  .about img {
    margin-bottom: 50px;
  }
}

/* QUOTE */
.quote {
  padding: 75px 0;
}

.quote h4 {
  color: #999;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quote p {
  color: #eee;
  font-size: 1.75em;
}

/* PROJECTS SECTION */
.projects {
  padding: 75px 0;
}

.projects header {
  margin-bottom: 100px;
  color: #212529;
}

.projects .project {
  padding-left: 0;
  padding-right: 0;
  background: #f0f0f0;
}

.projects .project-thumbnail {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.projects .project-thumbnail img{
  transition: all 1.5s ease-in-out;
}

.projects .project-thumbnail:hover img{
  transform: scale(1.25);
}

.projects .project-text {
  padding: 25px;
}

.projects .project-text a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #212529;
  margin-bottom: 25px;
}

.projects .project-text .project-name {
  padding: 10px;
  margin-bottom: 25px;
}

.projects .project-text .project-description {
  line-height: 1.5em;
  margin-bottom: 30px;
  padding: 10px;
}

@media (min-width: 992px) {
  .projects .project:nth-child(even) .project-thumbnail{
    order: 2;
  }
}

/* TESTIMONIALS SECTION */
.testimonials {
  padding: 100px 0;
  background: #212529;
}

.testimonials h4 {
  letter-spacing: 2px;
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
}

.testimonials .line-25 {
  background-color: #fff;
  height: 1px;
  width: 40%;
  margin-bottom: 15px;
}

.testimonials p {
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5em;
}

.testimonials .testimonial-text {
  font-size: 1.3em;
  line-height: 1.8em;
}

.testimonials .testimonial-text i{
  font-size: 0.65em;
  color: #fff;
  position: absolute;
}

.testimonials .testimonial-source {
  font-size: 0.95em;
  text-transform: uppercase;
  padding: 30px 0;
  margin-bottom: 30px;
}

.testimonials .testimonial-source span{
  color: #3e8a6c;
}

.testimonials .carousel-indicators {
  right:  0;
  margin-left: 0;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .testimonials div[class*="col-"]:nth-child(1) {
    margin-bottom: 50px;
  }
}

/* CONTACT SECTION */
.contact {
  padding: 100px 0;
}

.contact .email-info {
  margin-top: 25px;
}

.contact h2 {
  margin-bottom: 15px;
}

.contact button {
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  background: #111;
  border: 1px solid #111;
  color: #fff;
  margin-bottom: 15px;
}

@media (max-width: 575px) {
  .contact .email-info {
    justify-content: space-around;
  }

  .contact button {
      position: static;
      width: 100%;
      margin-top: 10px;
  }
}

.contact .email {
  visibility: hidden;
  opacity: 0;
  color: inherit;
  padding: 15px 50px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

/* FOOTER */
.main-footer {
  padding: 50px 50px 0;
  color: #ddd;
}

.main-footer .social-menu {
  margin-top: 15px;
  padding-left: 0;
}

.main-footer .social-menu a{
  color: inherit;
  font-size: 1.5em;
  padding: 5px;
}

.copyrights {
  margin-top: 15px;
}
