---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Gustavo Santos
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p>
      Olá! Eu sou Gustavo Santos, e é um prazer convidá-lo(a) a embarcar em uma
      emocionante jornada pelo mundo da computação! Neste blog, estarei
      compartilhando todas as coisas interessantes que encontrar ao longo do
      caminho, desvendando seus funcionamentos e destacando como fazem a
      diferença em nossas vidas.
    </p>
    <p>
      Como programador apaixonado, estou sempre em busca de desafios e
      conhecimentos que impulsionem minha habilidade e criatividade. Aqui, você
      encontrará artigos, tutoriais e insights sobre diversos temas relacionados
      à computação, desde algoritmos complexos até tecnologias emergentes.
    </p>

    <p>
      Meu objetivo é tornar a ciência da computação mais acessível e empolgante
      para todos os leitores. Por isso, mesmo que você esteja apenas começando
      nesse vasto universo da programação, este espaço será um ponto de partida
      acolhedor e inspirador.
    </p>

    <p>
      Juntos, exploraremos o fascinante mundo da computação e descobriremos como
      suas inovações moldam nosso presente e futuro. Então, não perca tempo!
      Acompanhe-me nesta jornada incrível e vamos aprender e crescer juntos
      nessa fantástica aventura tecnológica!
    </p>
  </div>
</section>
